.download-pane{
    width: 100%;
    height: auto;
    aspect-ratio: 2;
    display: flex;
}

.download-pane-thumbnail{
    width: 50%;
    height: 100%;

    border-radius: 12px;
}

.download-pane-details{
    width: auto;
    height: auto;
    margin: auto;
}

.download-pane-button{
    padding: 2px 8px;

    border-radius: 4px;
    background: #FFC0A0;
    color: #FFFFFF;
}

.download-pane-button:hover{
    text-decoration: underline;
}