.download-pane{
    width: 100%;
    height: auto;
    aspect-ratio: 2;
    display: flex;
}

.download-pane-thumbnail{
    width: 50%;
    height: 100%;

    border-radius: 12px;
}

.download-pane-details{
    width: calc(50% - 16px);
    height: calc(100% - 16px);
    padding: 8px;
    margin: auto;
}

.download-pane-details > div{
    width: calc(100% - 8px);
    height: calc(100% / 3 - 8px);
    display: flex;
    padding: 4px;
}

.download-pane-details > *{
    margin: 4px 0;
}

.download-pane-filename{
    width: 100%;
    height: auto;
    margin: auto auto 0 auto;

    text-align: center;
    font-size: large;
    font-weight: 400;
}

.download-pane-button-anchor{
    margin: auto;
}

.download-pane-button{
    width: fit-content;
    height: auto;

    padding: 2px 8px;

    border-radius: 4px;
    background: #FF8000;
    color: #FFFFFF;
    text-align: center;
    font-weight: 500;
}

.download-pane-button:hover{
    text-decoration: underline;
}

.download-pane-description{
    width: 100%;
    height: 100%;
    
    overflow: hidden;
    text-align: left;
    font-size: small;
}