body{
    margin: 0;
}

a{
    text-decoration: none;
}

#line{
    width: 480px;
    max-width: 480px;
    min-height: 100%;
    margin: auto;
    padding: 0 4px;
}

#line .def-font, #line > *{
    color: #808080;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#line > .pane, #line > * > .pane{
    width: calc(100% - 32px);
    height: auto;
    padding: 12px;
    margin: 8px auto;

    background: #FFFFFF;
    border-radius: 12px;
    box-shadow: -2px 0 8px #80404080;
}


/* profile */

.profile{
    width: 100%;
    height: auto;
    margin: 16px auto;
}

.profile-icon-holder{
    display: flex;
}

.profile-icon{
    width: 30%;
    height: auto;
    aspect-ratio: 1;
    margin: 16px auto;

    border-radius: 100%;
}

.profile-name{
    text-align: center;
    font-size: x-large;
    font-weight: bold;

    background: transparent;
}

.profile-tag-show{
    text-align: center;
}

.profile-socials{
    width: fit-content;
    height: 64px;
    display: flex;
    margin: auto;
}

.profile-social-icon-anchor{
    width: auto;
    height: auto;
    aspect-ratio: 1;

    margin: 4px auto;;
}

.profile-social-icon{
    height: 100%;
}

.profile-description{
    margin-bottom: 32px;

    text-align: center;
    font-size: small;
    background: transparent;
}


@media screen and (max-width: 480px) {
    #line{
        width: 100%;
    }
}