body{
    margin: 0;

    background-color: lime;
}

#line{
    width: 96%;
    max-width: 480px;
    min-height: 100%;
}

#line > *{
    width: 100%;
    height: auto;
    margin: 8px auto;
}

#line > div{
    padding: 12px;

    background: #FFFFFF;
    border-radius: 24px;
}