body{
    margin: 0;

    background-color: lime;
}

#line{
    width: 96%;
    max-width: 480px;
    min-height: 100%;
    margin: auto;
}

#line *{
    color: #808080;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#line > *{
    width: 100%;
    height: auto;
    margin: 8px auto;
}

#line > div{
    padding: 12px;

    background: #FFFFFF;
    border-radius: 24px;
}


/* profile */

.profile-icon{
    width: 30%;
    height: auto;
    aspect-ratio: 1;

    border-radius: 100%;
}

.profile-name{
    text-align: center;
    font-size: x-large;
}