.simple-row{
    height: 88px;
    
    user-select: none;
}

.simple-row-body{
    width: 100%;
    height: 64px;

    display: flex;
}

.simple-row-icon{
    width: auto;
    height: 100%;
    aspect-ratio: 1;

    border-radius: 8px;
}

.simple-row-text-row-holder{
    width: 100%;
    height: 100%;
}

.simple-row-text-row{
    height: 50%;
    display: flex;
}

.simple-row-title{
    width: auto;
    height: auto;
    margin: auto 8px;

    font-weight: bold;
    font-size: larger;
}

.simple-row-title:hover{
    text-decoration: underline;
}

.simple-row-description{
    width: auto;
    height: auto;
    margin: auto 8px;

    font-size: x-small;

    overflow-wrap: anywhere;
    overflow-y: hidden;
}