.string-pane-title-row{
    width: 100%;
    height: auto;
    display: flex;
}

.string-pane-title{
    font-size: larger;
    font-weight: 400;
    text-decoration: underline;
}

.string-pane-description{
    
}