.roulette-container{
    width: 100%;
    height: auto;
    padding: 16px 0;

    background: #FFFFFF;
    border-top: #000000 solid;
    border-bottom: #000000 solid;
}

.roulette-field{
    width: auto;
    height: auto;
    aspect-ratio: 1;
    position: relative;
    margin: auto;
    
    overflow: hidden;
    background: #FFFFFF;
    animation: spin 250ms infinite forwards;
    animation-timing-function: linear;
    animation-play-state: paused;
}


.roulette-part{
    width: 0;
    max-width: max-content;
    height: 0;
    max-height: max-content;
    position: absolute;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.row{
    width: 100%;
    height: auto;
    display: flex;
}

.label{
    width: auto;
    height: 100%;
    
    text-align: left;
}


.btn{
    width: auto;
    height: 100%;
    aspect-ratio: 1;

    text-align: center;
    background: #FFFFFF;
}

.btn:hover{
    background: #F0F0F0;
}